:root {
    --primary : #0a3d62 ;
    --gray-1: #3c6382 ;
    --gray-2: #60a3bc ;
    --light-gray: #82ccdd ;
    --text-color: #444;
    --error: #eb2f06;
    --divider: #ecf0f1;
    --font-family: 'Noticia Text', serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: rgb( 0 0 0 / 22%) 0 2px 10px 0;

}